li {
    padding: 5px;
    margin: 5px;
    background: aquamarine;
    color: gray;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  body {  
    opacity: 0.9;
    background: url(../img/burger.jpg)
    no-repeat center center fixed;
  }
  


  